@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  background: white;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  z-index: 999;
  transform: translateY(-100%)

}
